/terraform/terraform.tfstate.backup
/terraform/terraform-key.json
/terraform/.terraform/
/terraform/terraform.tfstate
/devices/env/
/app/src/node_modules/
/devices/resources/rsa_*.pem
/devices/__pycache__/
/devices/deployment
.idea/
*.log
/app/src/.env
